function GameField.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 10
pop this 0
push pointer 0
return
function GameField.draw 0
push argument 0
pop pointer 0
push constant 100
push constant 200
call Screen.drawPixel 2
pop temp 0
push constant 100
push constant 100
call Screen.drawPixel 2
pop temp 0
push constant 250
push constant 20
push constant 252
push constant 200
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
