function Main.main 3
call Ball.new 0
pop local 0
call GameField.new 0
pop local 1
push constant 30
push constant 100
call Player.new 2
pop local 2
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push local 0
call Ball.draw 1
pop temp 0
push local 1
call GameField.draw 1
pop temp 0
push local 2
call Player.draw 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
